.navigation {
  background-color: white; // var(--nav-bg-color);
  border-right: 1px solid var(--color-divider);
  color: var(--nav-color);
  padding-top: 24px;
  position: relative;
  width: 200px;

  &::before {
    top: 0; left: 0;
    bottom: 0; right: 0;

    background-image: linear-gradient(to right, transparent, #eaeef5 100%);
    content: "";
    position: absolute;
    z-index: 0;
  }

  // min-width: var(--side-nav-width);
  // padding: $spacing-width * 1/3;

  /*
  hr {
    border: solid 1px var(--color-divider);
    margin: 36px 0; // $spacing-vertical $spacing-vertical * 2/3; // TODO: Investigate
    width: 24px;
  }
  */

  /*
  @media (min-width: $medium-breakpoint) {
    padding-left: $spacing-width;
    width: calc(var(--side-nav-width) * 1.4);
  }

  @media (min-width: $large-breakpoint) {
    width: calc(var(--side-nav-width) * 1.6);
  }
  */
}

.navigation__links {
  position: relative;
}

.navigation__link {
  display: block;
  font-size: 0.85rem;
  line-height: 1.75;
  padding-left: 1rem;
  position: relative;
  transition: color 0.2s;
  white-space: nowrap;

  &::before {
    top: 0; left: 0;

    background-color: var(--color-primary);
    content: "";
    height: 100%; max-height: 1.5rem;
    position: absolute;
    transition: width 0.2s;
  }

  &:not(.active) {
    color: var(--color-grey);

    &::before {
      width: 0;
    }
  }

  &:not(.title) {
    &:hover,
    &.active {
      color: var(--text-color);

      &::before {
        width: 3px;
      }
    }
  }

  &.title {
    margin-bottom: 0.25rem; padding-top: 1rem;

    color: var(--color-grey);
    cursor: default;
    font-size: inherit;
    font-weight: 700;
    letter-spacing: 0.1rem;
    opacity: 0.3;
    text-transform: uppercase;
  }
}

.navigation__link__items {
  padding-left: 1rem;
}

.navigation__link__item {
  position: relative;

  &::before {
    width: 0.25rem; height: 0.25rem;
    top: 0.55rem; left: -0.7rem;

    border-radius: 50%;
    content: "";
    position: absolute;
    transition: background-color 0.2s;
  }

  &:not(.active) {
    color: var(--color-grey);

    &::before {
      background-color: transparent;
    }
  }

  &:hover,
  &.active {
    &::before {
      background-color: var(--text-color);
    }
  }
}

/*
.navigation__link--group {
  margin-left: 5px;
  padding-left: $spacing-vertical * 2/3;

  .btn {
    // font: normal 400 14px/30px 'metropolis-medium';

    @media only screen and (min-width: $medium-breakpoint) {
      // font: normal 400 15px/30px 'metropolis-semibold';
    }

    @media only screen and (min-width: $large-breakpoint) {
      // font: normal 400 18px/40px 'metropolis-medium';
    }
  }
}

.nav__sub-links {
  color: var(--nav-color);
  padding-bottom: $spacing-vertical * 1/3;
}

// Sub links animations
// The -appear, -leave classes are added by 'react-transition-group'
.nav__sub-appear,
.nav__sub-leave {
  max-height: 0;
  opacity: 0;
}

.nav__sub-appear.nav__sub-appear-active {
  // using max-height is a hack to animate to height "auto"
  // Needs to be some arbitrarily large height
  max-height: 500px;
  opacity: 1;
  transition: all var(--animation-duration) var(--animation-style);
}

.nav__sub {
  padding-top: 5px;
}
*/
